<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internallogfile="c:\dashboardlogs\internal-nlog.log">
      <!--internalLogFile="d:\temp\internal-nlog.log">-->


  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!--<variable name="DefaultLayout" value="${longdate} | ${event-properties:item=EventId_Id} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=type,tostring} | ${callsite} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />-->

  <targets async="true">

    <!--<target xsi:type="File" name="LogFile" fileName="d:\temp\nlog-${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} | ${exception:format=tostring} | ${logger} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />-->

    <target xsi:type="File" name="LogFile" fileName="c:\dashboardlogs\nlog-${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} | ${exception:format=tostring} | ${logger} | ${aspnet-request-method}| url: ${aspnet-request-url} | action: ${aspnet-mvc-action} | | ${aspnet-request-posted-body} | ${aspnet-user-authtype} |${aspnet-user-isauthenticated}| ${aspnet-user-identity} |${aspnet-request-ip} | | ${aspnet-request}| ${aspnet-request-contenttype}|${aspnet-request-host}|${aspnet-response-statuscode}|${processtime} |${aspnet-request-posted-body}|${aspnet-request} |${aspnet-request-host}|${aspnet-request-querystring}|${aspnet-request-contenttype}|${aspnet-request-referrer}|${aspnet-request-url}|${identity}|${windows-identity}| " />
    <target name="MailLogger" xsi:type="Mail"
                smtpServer="smtp.gmail.com"
                smtpPort="587"
                smtpAuthentication="Basic"
                subject="New Log"
                smtpUserName="mr.balavand@gmail.com"
                smtpPassword="@lirez@1365"
                layout="[${longdate}] - [${level}] - [${message}] ${newline}"
                enableSsl="true"
                from="mr.balavand@gmail.com"
                to="alireza.balavand@gmail.com"
          />
    <!--<target xsi:type="ColoredConsole" name="ColorConsole" layout="${DefaultLayout}" />-->
    <target xsi:type="ColoredConsole" name="ColorConsole" layout="${longdate} | ${level} | ${exception:format=type} : ${message} | ${callsite} | ${aspnet-request}| ${aspnet-request-contenttype}| ${aspnet-request-cookie}| ${aspnet-request-form}|${aspnet-request-headers}|${aspnet-request-host}|${aspnet-response-statuscode}|${processtime} |"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="LogFile" />
    <logger name="*" minlevel="Warn" writeTo="LogFile" />
    <logger name="*" minlevel="Warn" writeTo="MailLogger"/>
  </rules>
</nlog>